:root {
    --linear-gradient: #ff69b4, #663399; 
}

body {
    background: linear-gradient(to right, var(--linear-gradient));
}

h1 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-items: center;
    gap: 1%;
}

/* Image styles */
.img-items {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.img-items img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.item-overlay {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: red;
    display: grid;
    justify-items: center;
    align-items: center;
}

.view-button {
    font-size: 1.5rem;
    border: 2px solid forestgreen;
    color: forestgreen;
    text-transform: uppercase;
    background: red;
    padding: 5px;
}

/* Video styles */
.video-items {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
}

.video-items video {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.video-item-overlay {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: forestgreen;
    display: grid;
    justify-items: center;
    align-items: center;
}

.video-view-button {
    font-size: 1.5rem;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    background: forestgreen;
    padding: 5px;
}


