:root {
    --linear-gradient: #ff69b4, #663399; 
}

body {
    background: linear-gradient(to right, var(--linear-gradient));
}

h1 {
    text-align: center;
}

#option-container {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    justify-items: center;
    gap: 1%;
}

/* Date input styles */
form {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
  
span::after {
    padding-left: 5px;
  }

input {
    background: whitesmoke;
    font-size: 1.1rem;
    margin: 0 5px;
}
  
input:invalid + span::after {
    content: "✖";
  }
  
input:valid + span::after {
    content: "✓";
  }

#submit-button {
    font-size: 1.5rem;
    border: 2px solid forestgreen;
    color: forestgreen;
    text-transform: uppercase;
    background: none;
    padding: 5px;
    margin: 0 5px;
}
  

/* Image styles */
.img-items {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    overflow: hidden;
}

.img-items img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.item-overlay {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: red;
    display: grid;
    justify-items: center;
    align-items: center;
}

.view-button {
    font-size: 1.5rem;
    border: 2px solid forestgreen;
    color: forestgreen;
    text-transform: uppercase;
    background: red;
    padding: 5px;
}

.item-overlay-number {
    font-size: 3rem;
    color: forestgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.open {
    opacity: 0;
    transform: translateY(100%);
    transform: scale(0%);
    transition: 2s;
}

/* Video styles */
/* .videos {
    overflow: hidden;
} */
.video-items {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    overflow: hidden;
}

.video-items video {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.video-item-overlay {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: forestgreen;
    display: grid;
    justify-items: center;
    align-items: center;
    z-index: 2;
}

.video-view-button {
    font-size: 1.5rem;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    background: forestgreen;
    padding: 5px;
}

#dom-video-button {
    font-size: 1.5rem;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    background: forestgreen;
    padding: 5px;
}

.video-item-overlay-number {
    font-size: 3rem;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



